@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 212 27% 94%;
    --foreground: 224 25% 15%;
    --card: 212 27% 99%;
    --card-foreground: 224 25% 15%;
    --popover: 212 27% 99%;
    --popover-foreground: 224 25% 15%;
    --primary: 224 100% 20%;
    --primary-foreground: 210 40% 98%;
    --secondary: 212 27% 88%;
    --secondary-foreground: 224 100% 20%;
    --muted: 212 27% 88%;
    --muted-foreground: 224 25% 35%;
    --accent: 0 74% 58%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 212 27% 85%;
    --input: 212 27% 88%;
    --ring: 224 100% 20%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 0 74% 58%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 215 28% 91%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
